.student-data {
     display: flex ;
     flex-flow: column wrap  ;
     padding: 10px;
     width: 50vw ;
     height: 40vh ;
     justify-content: space-evenly;
}
input , select, button {
    padding: 6px; 
    background-color:#EFEFEF ;
    border: none ;
}
input:focus {
    outline: none ;
}
button {
    background-color:  blue  ;
    color: white ;
}